{% extends "orders/base.html" %}


{% block title%}
Pizza
{% endblock%}


{% load static %}
{% block content %}
<div class="header">
    <img src="{% static 'images/pizza.jpg' %}" alt="building" style="width:100%;" height="650px;" />
    <div class="header_content"> 
        <h1 class="hot">HOT SPECIALS | Online deals only!</h1>
        <p> Pinocchio's finally delivers! For catering orders over $100 call us directly. For other orders log in to Doordash or GrubHub or Eat24 and they will deliver to you within 45 minutes, it's very simple!</p>
    </div>
  </div>
  

<div class="row">
  <div class="side">
    <h2>About Us | Contacts</h2>
    <div class="fakeimg" style="height:200px;"><img src="{% static 'images/pinocchio_72.gif' %}" alt="Iconic Logo" /></div>
    <p>Noch's has reached a landmark this year......50 years in business! We've been feeding Harvard and the surrounding area since 1966!</p>
    <p>We sell award-winning sicilian-style pizza and mouth-watering steak subs! We have over 500 reviews on Yelp--- check it out!</p>
    <p>Pinocchio's was recently named 1st Runner-up in the 'Boston's Best Pizza Poll' conducted by Eater.com and Top College Pizza Shop by Thrillist.com.</p>
    <h3>Contact us</h3>
    <p>Our phone numbers are 617-876-4897 or 617-876-0012</p>

           <p> Our fax number is 617-661-6188</p>
            
           <p>Find us on Twitter @PinocchiosPizz</p> 
            
            <p>And Instagram @pinocchiospizza1</p>
            
            <p>Our mailing address is:</p>
            
            <address>Pinocchio's Pizza
            74 Winthrop Street<br>
            Cambridge, <br>MA 02138</address>
           <p> If you have any questions or comments or would like to get on our email list you can email us at pinocchiospizza1@gmail.com</p>
    <div class="fakeimg" style="height:60px;">We accept Mastercard, Visa and Amex and we offer Gift Certificates which you can pick up in person or we can mail them out to you.</div><br>
    <div class="fakeimg" style="height:60px;">We can take orders by phone at 617-876-4897 or by email pinocchiospizza1@gmail.com</div><br>
    <div class="fakeimg" style="height:60px;">Find us on Twitter @PinocchiosPizz and Instagram @pinocchiospizza1</div>
  </div>
  
  <div class="main">
      <div class="background_image">  <img src="{% static 'images/main.jpg' %}" alt="Iconic Logo" style="width:100%; height: 100%;"/></div>
  </div>
</div>

{% endblock content %}