{% extends "orders/layout.html"%}

{% block title%}
Sicilian vs. Regular
{% endblock %}

{% block body %}
<h1>Sicilian vs. Regular</h1>

<h4>Sicilian Pizza</h4>
<p><ul>Our Sicilian pizza is a deep-dish or thick-crust pizza. We sell them in a 9-slice or a 15-slice size.</p>
    <li>
            The 9-slice size is 16" x 16" and will feed anywhere from 3 to 5 people.
    </li>
    <li>The 15-slice size is 28" x 16", comes in 2 large pizza boxes and can feed 6 to 9 people.</li>
</ul>
<h1>Regular Pizza</h1>
<p>Our Regular pizza is a thin-crust or Neapolitan pizza. They come in 2 sizes: small (12" in diameter) and large (16" in diameter).</p>

<p>The small is suitable for 1 to 2 people while the large feeds 2 to 4 people.</p>
<hr>
<p>We can make any of our pizzas in about 10 to 15 minutes, and they can be eaten in our dining room or taken out.</p>
<h1>Oh, and always remember:</h1>
<h1>Eat More Pizza!</h1>
{% endblock%}