{% extends "orders/base.html" %}

{% load static %}

{% block title %}Confirmation{% endblock %}

{% block content %}
 <style media="screen">
  hr{
    width: 50%;
    height: 10px;
    background-color: #239346;
  }
  .button {
  width: 50%;
  margin: 0 auto;
  font-size: 24px;
  text-align: center;
  cursor: pointer;
  outline: none;
  color: #fff;
  background-color: #4CAF50;
  border: none;
  border-radius: 3px;
  box-shadow: 0 9px #999;

}

.button:hover {background-color: #3e8e41}

.button:active {
  background-color: #239346;
  box-shadow: 0 5px #666;
  transform: translateY(4px);

}
.menuList{
  width: 50%;
  margin: 0 auto;
  padding-left: 350px;
}
a{
  text-decoration: none;
  color: white;
	text-align: center;
}
</style>
<h1 style="text-align:center; color:green;">Payment Success!</h1>
<hr>
<p style="text-align:center; font-size:19px;">Your order has been successfully paid. Login to your stripe account for confirmation message.</p>
<div class="menuList">
<button class="button"><a href="{% url 'menus:menu' %}">Go back to menu</a></button>
<div>
{% endblock content %}
